<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>testingServlet</servlet-name>
    <servlet-class>com.amazonaws.gae.test.server.TestingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>testListingServlet</servlet-name>
    <servlet-class>com.amazonaws.gae.test.server.TestListingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>testingServlet</servlet-name>
    <url-pattern>/test/run</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>testListingServlet</servlet-name>
    <url-pattern>/test/list</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Test.html</welcome-file>
  </welcome-file-list>

</web-app>
